{% extends 'base.html.twig' %}

{% block title %}New Flux{% endblock %}

{% block body %}
    <h1>Create new Flux</h1>

    {{ include('flux/_form.html.twig') }}

    <a href="{{ path('app_flux_index') }}">back to list</a>
{% endblock %}
